<h1>Sign up for Snarler and get Snarlin'!</h1>

<% @dingo.errors.full_messages.each do |message| %>
  <li>Here's your sign: <%= message %></li>
<% end %>

<%= form_for @dingo, url: create_dingo_path do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.label :habitat %>
    <%= f.text_field :habitat %>
  </p>

  <p>
    <%= f.label :photo_url %>
    <%= f.text_field :photo_url %>
  </p>

  <p>
    <%= f.label :age %>
    <%= f.number_field :age %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
