<h1>About This Dingo</h1>
<p></p>

<p> Dingo name: <%= @dingo.name %></p>
<p> Age: <%= @dingo.age %></p>
<p> Habitat: <%= @dingo.habitat %></p>
<% if @dingo.photo_url.present? %>
<img src=<%=@dingo.photo_url%> height=140 width=210px></br>
<%end%>

<% if session[:dingo_id].present? %>
  <%= link_to "Issue Snarl", new_snarl_path(dingo_id: @dingo.id) %>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dingo</th>
      <th>Snarl</th>
      <th>at:</th>
    </th>
  </thead>

  <tbody>
    <% @snarls.each do |snarl| %>
      <tr>
        <td><%= snarl.dingo.name %></td>
        <td><%= snarl.post %></td>
        <td><%= snarl.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if session[:dingo_id] != @dingo.id && !@current_dingo.buttsniffees.include?(@dingo) %>
  <%= button_to "Buttsniff (follow) #{@dingo.name}", create_buttsniff_path(buttsniffee_id: @dingo.id), method: :post %>
<% end %>

<% if @buttsniffees.any? %>
 <h3><%=@dingo.name%> is sniffing the butts of:</h3>
  <% @buttsniffees.each do |buttsniffee|%>
    <ul>
      <%=buttsniffee.name%>
      <% if buttsniffee.photo_url? %>
        <img src=<%=buttsniffee.photo_url%> height=90 width=135px></br>
      <% end %>
      <% if session[:dingo_id] == @dingo.id %>
        <%= button_to "Stop sniffing #{buttsniffee.name}", destroy_buttsniff_path(dingo_id: @dingo.id, buttsniffee_id: buttsniffee.id), method: :post %>
      <% end %>
    </ul>
 <% end %>
<% end %>

<br>
<br>

<%= link_to "Back to Timeline", root_path %>
