<!DOCTYPE html>
<html>
<head>
  <title>Snarler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

</head>
<body>
<div style =
  "background: url(<%= asset_path 'Desert.jpg' %>) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover">
 <%= link_to "Home", root_path %>

 <% if @current_dingo %>
   <%= "Hey there, #{@current_dingo.name}!" %>
   <%= link_to "View your profile page", about_user_path(id: @current_dingo.id) %>
   <%= link_to "Sign Out", sign_out_path, method: :delete %>
 <% end %>
<%= yield %>

<footer>
 <br>
 <br>
 <p>The Dingos:</p>
  <% Dingo.all.each do |dingo| %>
    <% if dingo.photo_url? %>
      <img src=<%=dingo.photo_url%> height=90 width=135px>
    <% else %>
    <% end %>
    <%= link_to dingo.name, about_user_path(id: dingo.id)%><br/>
  <% end %>
</footer>
</div>
</body>
</html>
