<!DOCTYPE html>
<html>
<head>
  <title>Snarler</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <%= link_to "Home", root_path %>

 <% if @current_dingo %>
   <%= "Hey there, #{@current_dingo.name}!" %>
   <%= link_to "Sign Out", sign_out_path, method: :delete %>
 <% end %>
<%= yield %>

<footer>
  <% Dingo.all.each do |dingo| %>
    <%= link_to dingo.name, about_user_path(id: dingo.id)%><br/>
  <% end %>
</footer>
</body>
</html>
